<a href="https://colab.research.google.com/github/kamilpiech97/piad/blob/main/lab02_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Laboratorium 2: Operacje na tablicach

Witam na Laboratorium 2!  Nauczymy się jak importować moduły i poćwiczymy operacje na tablicach!

Zalecana lektura:
 * [Introduction to tables](https://www.inferentialthinking.com/chapters/03/4/Introduction_to_Tables)

Najpierw skonfiguruj importy, uruchamiając poniższą komórkę.

In [14]:
# Tylko uruchom komórkę

# jeśli biblioteka datascience nie jest dostępna usuń # z początku kolejnej linii
# instrukcja zakłada, że do katalogu głównego Twojego dysku Google znajduje się rozpakowane archiwum PiAD_lab02
# !pip install datascience

import numpy as np
from datascience import *


# Inicjalizacja dysku Google
from google.colab import drive
drive.mount('/content/drive')

/usr/local/lib/python3.7/dist-packages/datascience/tables.py:17: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)
/usr/local/lib/python3.7/dist-packages/datascience/util.py:10: MatplotlibDeprecationWarning: The 'warn' parameter of use() is deprecated since Matplotlib 3.1 and will be removed in 3.3.  If any parameter follows 'warn', they should be pass as keyword, not positionally.
  matplotlib.use('agg', warn=False)

Mounted at /content/drive

# 1. Powtórka: Elementy składowe kodu Pythona

Dwa elementy składowe kodu Pythona to *wyrażenia* i *instrukcje*. **Wyrażenie** jest fragmentem kodu, który

* is self-contained, meaning it would make sense to write it on a line by itself, and
* usually evaluates to a value.


Poniżej są dwa wyrażenie, które po obliczeniu dają  3:

    3
    5 - 2
    
Ważnym typem wyrażenia są **Wyrażenia wywołania**. Wyrażenie wywołania zaczyna się nazwą funkcji, po której występuje(-ą) argument(-y) funkcji w nawiasach. Funkcja zwraca pewną wartość na podstawie swoich argumentów. Poniżej wymieniono niektóre ważne funkcje matematyczne.

| Funkcja  | Opis                                                          |
|----------|---------------------------------------------------------------|
| `abs`      | Zwraca wartość bezwzględną swojego argumentu                |
| `max`      | Zwraca maksium z wszystkich argumentów                      |
| `min`      | Zwraca minimium z wszystkich argumentów                     |
| `pow`      | Podnosi swój pierwszy argument do potęgi drugiego argumentu |
| `round`    | Zaokrągla swój argument do najbliższej liczby całkowitej    |

Oto dwa wyrażenia wywołania, z których oba dają wynik 3:

    abs(2 - 5)
    max(round(2.8), min(pow(2, 10), -1 * pow(2, 10)))

Wyrażenie `2 - 5` i dwa wyrażenia wywołania podane powyżej są przykładami **wyrażeń złożonych**, co oznacza, że są one w rzeczywistości kombinacjami kilku mniejszych wyrażeń. `2 - 5` łączy wyrażenia `2` i `5` przez odejmowanie. W tym przypadku „2” i „5” są nazywane **wyrażeniami podrzędnymi**, ponieważ są wyrażeniami będącymi częścią większego wyrażenia.

**Instrukcja** to cały wiersz kodu. Niektóre instrukcje to tylko wyrażenia. Wymienione powyżej wyrażenia są przykładami.

Inne instrukcje *sprawiają, że coś się dzieje* zamiast *mają wartość*. Na przykład **instrukcja przypisania** przypisuje wartość do nazwy.

Dobrym sposobem na zastanowienie się nad tym jest to, że **obliczamy prawą stronę** znaku równości i **przypisujemy go do lewej strony**. Oto kilka instrukcji przypisania:
    
    height = 1.3
    the_number_five = abs(-5)
    absolute_height_difference = abs(height - 1.688)

Ważną ideą w programowaniu jest to, że duże, ciekawe rzeczy można budować, łącząc wiele prostych, nieciekawych rzeczy. Kluczem do zrozumienia skomplikowanego fragmentu kodu jest rozbicie go na proste elementy.

Na przykład w ostatnim zdaniu powyżej wiele się dzieje, ale tak naprawdę jest to tylko połączenie kilku rzeczy. Ten obrazek opisuje, co się dzieje.

<img src="https://github.com/data-8/materials-fa21/blob/master/materials/fa21/lab/lab02/statement.png?raw=true">

**Pytanie 1.1.** W następnej komórce, przypisz nazwie `nowy_rok` wartość większej liczby z następujących dwóch liczb:

1. **wartość bezwzględna** z $2^{5}-2^{11}-2^1 + 1$, i 
2. $5 \times 13 \times 31 + 7$.

Postaraj się użyć tylko jednej instrukcji (jedna linia kodu).

In [51]:
new_year = max(abs(((2**5) - (2**11) - (2**1) + 1)), (5*13*31+7))
new_year

2022

W pytaniu powyżej należało użyć jednego wiersza kodu, ponieważ zawiera on tylko operacje matematyczne. Jednak bardziej skomplikowane pytania programistyczne będą wymagały więcej kroków. Nie zawsze dobrym pomysłem jest zgrupowanie tych kroków w jednym wierszu, ponieważ może to utrudnić odczytanie kodu i debugowanie.

Dobra praktyka programistyczna polega na podzieleniu kodu na mniejsze kroki i użyciu odpowiednich nazw!

# 2. Importowanie kodu

![imports](https://external-preview.redd.it/ZVPjiFo_Ubl4JeiU63SaTjdIoq5zveSnNZimKpgn2I8.png?auto=webp&s=bf32c94b630befa121075c1ae99b2599af6dedc5) 

[source](https://www.reddit.com/r/ProgrammerHumor/comments/cgtk7s/theres_no_need_to_reinvent_the_wheel_oc/)

Większość programowania obejmuje pracę, która jest bardzo podobna do pracy, która była wykonywana wcześniej. Ponieważ pisanie kodu jest czasochłonne, dobrze jest polegać na kodzie opublikowanym przez innych, kiedy tylko to możliwe. Zamiast kopiować i wklejać, Python pozwala **importować moduły**. Moduł to plik z kodem Pythona, który ma zdefiniowane zmienne i funkcje. Importując moduł, jesteśmy w stanie wykorzystać jego kod we własnym notatniku.

Python zawiera wiele przydatnych modułów, które można „zaimportować”. Jako pierwszy przykład przyjrzymy się modułowi `math`. Moduł `math` jest niezwykle przydatny przy obliczaniu wyrażeń matematycznych w Pythonie.

Załóżmy, że chcemy bardzo dokładnie obliczyć pole koła o promieniu 5 metrów. W tym celu potrzebujemy stałej $\pi$, która wynosi mniej więcej 3,14. Wygodne jest, że moduł `math` ma dla nas zdefiniowane `pi`:

In [1]:
import math
radius = 5
area_of_circle = radius**2 * math.pi
area_of_circle

78.53981633974483

W powyższym kodzie wiersz `import math` importuje moduł math. Ta instrukcja tworzy moduł, a następnie przypisuje mu nazwę `math`. Możemy teraz uzyskać dostęp do dowolnych zmiennych lub funkcji zdefiniowanych w `math`, wpisując nazwę modułu, po której następuje kropka, a następnie nazwę żądanej zmiennej lub funkcji.

    <nazwa_modułu>.<nazwa>

**Pytanie 2.1.** Moduł `math` zapewnia również nazwę `e` dla podstawy logarytmu naturalnego, która wynosi w przybliżeniu 2.71. Oblicz $e^{\pi}-\pi$, nadając nazwę `near_twenty`.

*Pamiętaj: Można użyć też  `pi` z modułu `math` !*

In [4]:
near_twenty = math.e**math.pi
near_twenty

23.140692632779263

![XKCD](http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png)

[Source](http://imgs.xkcd.com/comics/e_to_the_pi_minus_pi.png)
[Explaination](https://www.explainxkcd.com/wiki/index.php/217:_e_to_the_pi_Minus_pi)

## 2.1. Dostęp do funkcji

W powyższym pytaniu wykorzystywany był dostęp do zmiennych w module `math`.

**Moduły** definiują również **funkcje**. Na przykład `math` zapewnia nazwę `sin` dla funkcji sinus. Po zaimportowaniu `math` możemy napisać `math.sin(3)`, aby obliczyć sinus 3. (Zauważ, że ta funkcja sinus uważa, że jej argument jest w [radianach](https://en.wikipedia.org /wiki/Radian), a nie stopni. 180 stopni to odpowiedniki $\pi$ radianów.)


**Pytanie 2.1.1.** 
Kąt $\frac{\pi}{4}$-radianów (45 stopni) tworzy trójkąt prostokątny o równej podstawie i wysokości, jak pokazano poniżej. Jeżeli przeciwprostokątna (promień okręgu na rysunku) wynosi 1, to wysokość wynosi $\sin(\frac{\pi}{4})$. Oblicz tę wartość za pomocą `sin` i `pi` z modułu `math`. Nadaj wynikowi nazwę `sine_of_pi_over_four`.

<img src="http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif">

[Source](http://mathworld.wolfram.com/images/eps-gif/TrigonometryAnglesPi4_1000.gif)

<!--
BEGIN QUESTION
name: q211
-->

In [6]:
sine_of_pi_over_four = math.sin(math.pi/4)
sine_of_pi_over_four

0.7071067811865475

Poniżej znajdziesz kilka przykładów funkcji z modułu `math`.

Zwróć uwagę, że różne funkcje przyjmują różną liczbę argumentów. Często, [dokumentacja](https://docs.python.org/3/library/math.html) omodułu dostarcza informację ile argumentów jest wymagane przez każdą funkcję.

*Wskazówka: Naciśnięcie `shift+tab` za wywołaniem funkcji wyświetla dokumentację dla tej fukcji*

In [7]:
# Obliczanie logarytmów (logarytm z 8 o podstawie 2).
# Wynik jest 3 ponieważ 2 do potęgi 3 to 8.
math.log(8, 2)

3.0

In [8]:
# Obliczanie pierwiastka kwadratowego.
math.sqrt(5)

2.23606797749979

Istnieje wiele sposobów importowania i uzyskiwania dostępu do kodu ze źródeł zewnętrznych. Metoda, której użyliśmy powyżej — `import <nazwa_modułu>` — importuje cały moduł i wymaga użycia `<nazwa_modułu>.<nazwa>` w celu uzyskania dostępu do jego kodu.

Możemy również zaimportować konkretną stałą lub funkcję zamiast całego modułu. Zauważ, że nie musisz wcześniej używać nazwy modułu, aby odwołać się do tej konkretnej wartości. Musisz jednak uważać na ponowne przypisywanie nazw stałych lub funkcji do innych wartości!

In [9]:
# Importowanie tylko cos i pi z math.
# Nie musimy używać `math.` przed cos lub pi
from math import cos, pi
print(cos(pi))

# Musimy go jednak używać przed innymi funkcjami z math
math.log(pi)

-1.0

1.1447298858494002

Można też zaimportować każdą funkcję i wartość z całego modułu.

In [10]:
# Importowanie wszystkiego z math za pomocą *
# Po raz kolejny nie musimy używać 'math'. przed
from math import *
log(pi)

1.1447298858494002

Nie należy przejmować się, jakiego typu importu użyć. Często jest to wybór stylu kodowania pozostawiony każdemu programiście. W tym kursie zawsze będziesz importować niezbędne moduły po uruchomieniu komórki konfiguracji (takiej jak pierwsza komórka kodu w tym laboratorium).

# 3. Operacje na tabelach

Tabela `farmers_markets.csv` zawiera dane o rynkach rolniczych w Stanach Zjednoczonych  (dane zebrane przez [USDA](https://apps.ams.usda.gov/FarmersMarketsExport/ExcelExport.aspx)).  Każdy wiersz reprezentuje jeden taki rynek.

Uruchom komórkę poniżej, aby załadować tabelę `farmers_markets`.

In [17]:
# Tylko uruchom komórkę

farmers_markets = Table.read_table('/content/drive/MyDrive/PiAD_lab_02/farmers_markets.csv')

Przyjrzyjmy się naszej tabeli, aby zobaczyć, jakie dane zawiera.

**Pytanie 3.1.** Użyj metody `show`, aby wyświetlić pierwsze 5 wierszy tabeli `farmers_markets`.

*Uwaga:* Terminy "metoda" i "funkcja" technicznie nie są tym samym, ale na potrzeby tego kursu będziemy ich używać zamiennie.

**Wskazówka:** `tbl.show(3)` pokaże pierwsze 3 wiersze tabeli `tbl`. Dodatkowo upewnij się, że nie wywołujesz `.show()` bez argumentu, ponieważ spowoduje to zawieszenie jądra!

In [20]:
farmers_markets.show(3)

Zauważ, że brakuje niektórych wartości w tej tabeli, oznaczonych przez „nan”. Oznacza to, że wartość jest niedostępna (np. jeśli nie znamy adresu rynku) lub nie dotyczy (np. jeśli rynek nie ma adresu). Zauważysz również, że tabela zawiera dużą liczbę kolumn!

### `num_columns`

Właściwość tabeli `num_columns` zwraca liczbę kolumn w tabeli. ("Właściwość" to tylko metoda, której nie trzeba wywoływać przez dodanie nawiasów.)

Przykładowe wywołanie: `<tbl>.num_columns`

**Pytanie 3.2.** Użyj `num_columns` aby znaleźć liczbę kolumn w zbiorze danych naszych rynków rolnych.

Przypisz liczbę kolumn do `num_farmers_markets_columns`.

<!--
BEGIN QUESTION
name: q32
-->

In [22]:
num_farmers_markets_columns = farmers_markets.num_columns
print("The table has", num_farmers_markets_columns, "columns in it!")

The table has 59 columns in it!

### `num_rows`

Podobnie, właściwość `num_rows` mówi ile wierszy jest w tabeli.

In [23]:
# Tylko uruchom komórkę

num_farmers_markets_rows = farmers_markets.num_rows
print("The table has", num_farmers_markets_rows, "rows in it!")

The table has 8546 rows in it!

### `select`

Większość kolumn dotyczy konkretnych produktów – czy na rynku sprzedaje się tofu, karmę dla zwierząt itp. Jeśli nie interesują nas te informacje, po prostu utrudniają one czytanie tabeli. To pojawia się częściej, niż mogłoby się wydawać, ponieważ ludzie, którzy zbierają i publikują dane, mogą nie wiedzieć z wyprzedzeniem, co ludzie będą chcieli z nimi zrobić.

W takich sytuacjach możemy użyć metody tabeli `select`, aby wybrać tylko te kolumny, które chcemy w danej tabeli. Pobiera dowolną liczbę argumentów. Każda powinna być nazwą kolumny w tabeli. Zwraca nową tabelę zawierającą tylko te kolumny. Kolumny są w kolejności *w jakiej zostały wymienione jako argumenty*.

Na przykład wartość `farmers_markets.select("MarketName", "State")` to tabela zawierająca tylko nazwę i stan każdego rynku rolników w `farmers_markets`.

**Pytanie 3.3.** Użyj `select` by utworzyć tabelę zawierającą tylko: name, city, state, latitude (`y`), and longitude (`x`) każdego z rynków.  Nazwij nową tabelę `farmers_markets_locations`.

*Wskazówka:* Upewnij się, że używasz nazw kolumn z `select`; dokładnie sprawdź wielkość liter!

<!--
BEGIN QUESTION
name: q33
-->

In [27]:
farmers_markets_locations = farmers_markets.select("MarketName", "city", "State", "x", "y")
farmers_markets_locations

MarketName                                       | city       | State                | x        | y
 Caledonia Farmers Market Association - Danville | Danville   | Vermont              | -72.1403 | 44.411
 Stearns Homestead Farmers' Market               | Parma      | Ohio                 | -81.7286 | 41.3751
100 Mile Market                                  | Kalamazoo  | Michigan             | -85.5749 | 42.296
106 S. Main Street Farmers Market                | Six Mile   | South Carolina       | -82.8187 | 34.8042
10th Steet Community Farmers Market              | Lamar      | Missouri             | -94.2746 | 37.4956
112st Madison Avenue                             | New York   | New York             | -73.9493 | 40.7939
12 South Farmers Market                          | Nashville  | Tennessee            | -86.7907 | 36.1184
125th Street Fresh Connect Farmers' Market       | New York   | New York             | -73.9482 | 40.809
12th & Brandywine Urban Farm Market              | Wilmington | Delaware             | -75.5345 | 39.7421
14&U Farmers' Market                             | Washington | District of Columbia | -77.0321 | 38.917
... (8536 rows omitted)

### `drop`

`drop` służy temu samemu celowi co `select`, ale usuwa kolumny, które podajesz, a nie te, których nie podajesz. Podobnie jak `select`, `drop` zwraca nową tabelę.

**Pytanie 3.4.** Załóżmy, że po prostu nie chcesz używać kolumn `FMID` i `updateTime` w `farmers_markets`. Utwórz tabelę, która jest kopią `farmers_markets`, ale nie zawiera tych kolumn. Nazwij tę tabelę `farmers_markets_without_fmid`.

<!--
BEGIN QUESTION
name: q34
-->

In [29]:
farmers_markets_without_fmid = farmers_markets
farmers_markets_without_fmid = farmers_markets_without_fmid.drop("updateTime", "FMID")
farmers_markets_without_fmid

MarketName                                       | street                                                   | city       | County               | State                | zip   | x        | y       | Website                                               | Facebook                                                     | Twitter                             | Youtube | OtherMedia                                                   | Organic | Tofu | Bakedgoods | Cheese | Crafts | Flowers | Eggs | Seafood | Herbs | Vegetables | Honey | Jams | Maple | Meat | Nursery | Nuts | Plants | Poultry | Prepared | Soap | Trees | Wine | Coffee | Beans | Fruits | Grains | Juices | Mushrooms | PetFood | WildHarvested | Location                                                   | Credit | WIC  | WICcash | SFMNP | SNAP | Season1Date              | Season1Time                                  | Season2Date | Season2Time | Season3Date | Season3Time | Season4Date | Season4Time
 Caledonia Farmers Market Association - Danville | nan                                                      | Danville   | Caledonia            | Vermont              | 05828 | -72.1403 | 44.411  | https://sites.google.com/site/caledoniafarmersmarket/ | https://www.facebook.com/Danville.VT.Farmers.Market/         | nan                                 | nan     | nan                                                          | Y       | N    | Y          | Y      | Y      | Y       | Y    | N       | Y     | Y          | Y     | Y    | Y     | Y    | N       | N    | Y      | Y       | Y        | Y    | Y     | N    | Y      | Y     | Y      | N      | Y      | N         | Y       | N             | nan                                                        | Y      | Y    | N       | Y     | N    | 06/08/2016 to 10/12/2016 | Wed: 9:00 AM-1:00 PM;                        | nan         | nan         | nan         | nan         | nan         | nan
 Stearns Homestead Farmers' Market               | 6975 Ridge Road                                          | Parma      | Cuyahoga             | Ohio                 | 44130 | -81.7286 | 41.3751 | http://Stearnshomestead.com                           | nan                                                          | nan                                 | nan     | nan                                                          | -       | N    | Y          | N      | N      | Y       | Y    | N       | Y     | Y          | Y     | Y    | Y     | Y    | N       | N    | Y      | N       | N        | N    | N     | N    | N      | N     | Y      | N      | N      | N         | Y       | N             | nan                                                        | Y      | Y    | N       | Y     | Y    | 06/25/2016 to 10/01/2016 | Sat: 9:00 AM-1:00 PM;                        | nan         | nan         | nan         | nan         | nan         | nan
100 Mile Market                                  | 507 Harrison St                                          | Kalamazoo  | Kalamazoo            | Michigan             | 49007 | -85.5749 | 42.296  | http://www.pfcmarkets.com                             | https://www.facebook.com/100MileMarket/?fref=ts              | nan                                 | nan     | https://www.instagram.com/100milemarket/                     | N       | N    | Y          | Y      | N      | Y       | Y    | N       | Y     | Y          | Y     | Y    | Y     | Y    | N       | N    | N      | Y       | Y        | Y    | N     | Y    | N      | N     | Y      | Y      | N      | N         | N       | N             | nan                                                        | Y      | Y    | N       | Y     | Y    | 05/04/2016 to 10/12/2016 | Wed: 3:00 PM-7:00 PM;                        | nan         | nan         | nan         | nan         | nan         | nan
106 S. Main Street Farmers Market                | 106 S. Main Street                                       | Six Mile   | nan                  | South Carolina       | 29682 | -82.8187 | 34.8042 | http://thetownofsixmile.wordpress.com/                | nan                                                          | nan                                 | nan     | nan                                                          | -       | N    | N          | N      | N      | N       | N    | N       | N     | N          | N     | N    | N     | N    | N       | N    | N      | N       | N        | N    | N     | N    | N      | N     | N      | N      | N      | N         | N       | N             | nan                                                        | Y      | N    | N       | N     | N    | nan                      | nan                                          | nan         | nan         | nan         | nan         | nan         | nan
10th Steet Community Farmers Market              | 10th Street and Poplar                                   | Lamar      | Barton               | Missouri             | 64759 | -94.2746 | 37.4956 | nan                                                   | nan                                                          | nan                                 | nan     | http://agrimissouri.com/mo-grown/grodetail.php?type=mo-g ... | -       | N    | Y          | N      | Y      | N       | Y    | N       | Y     | Y          | Y     | Y    | N     | Y    | N       | N    | Y      | Y       | Y        | Y    | N     | N    | N      | N     | Y      | N      | N      | N         | N       | N             | nan                                                        | Y      | N    | N       | N     | N    | 04/02/2014 to 11/30/2014 | Wed: 3:00 PM-6:00 PM;Sat: 8:00 AM-1:00 PM;   | nan         | nan         | nan         | nan         | nan         | nan
112st Madison Avenue                             | 112th Madison Avenue                                     | New York   | New York             | New York             | 10029 | -73.9493 | 40.7939 | nan                                                   | nan                                                          | nan                                 | nan     | nan                                                          | -       | N    | Y          | N      | Y      | Y       | N    | N       | Y     | Y          | Y     | Y    | N     | N    | N       | Y    | N      | N       | Y        | Y    | N     | N    | N      | N     | N      | N      | N      | N         | N       | N             | Private business parking lot                               | N      | N    | Y       | Y     | N    | July to November         | Tue:8:00 am - 5:00 pm;Sat:8:00 am - 8:00 pm; | nan         | nan         | nan         | nan         | nan         | nan
12 South Farmers Market                          | 3000 Granny White Pike                                   | Nashville  | Davidson             | Tennessee            | 37204 | -86.7907 | 36.1184 | http://www.12southfarmersmarket.com                   | 12_South_Farmers_Market                                      | @12southfrmsmkt                     | nan     | @12southfrmsmkt                                              | Y       | N    | Y          | Y      | N      | Y       | Y    | N       | Y     | Y          | Y     | Y    | Y     | Y    | N       | N    | N      | Y       | Y        | Y    | N     | N    | Y      | N     | Y      | N      | Y      | Y         | Y       | N             | nan                                                        | Y      | N    | N       | N     | Y    | 05/05/2015 to 10/27/2015 | Tue: 3:30 PM-6:30 PM;                        | nan         | nan         | nan         | nan         | nan         | nan
125th Street Fresh Connect Farmers' Market       | 163 West 125th Street and Adam Clayton Powell, Jr. Blvd. | New York   | New York             | New York             | 10027 | -73.9482 | 40.809  | http://www.125thStreetFarmersMarket.com               | https://www.facebook.com/125thStreetFarmersMarket            | https://twitter.com/FarmMarket125th | nan     | Instagram--> 125thStreetFarmersMarket                        | Y       | N    | Y          | Y      | Y      | Y       | Y    | N       | Y     | Y          | Y     | Y    | Y     | Y    | N       | Y    | N      | Y       | Y        | Y    | N     | Y    | Y      | N     | Y      | N      | Y      | N         | N       | N             | Federal/State government building grounds                  | Y      | Y    | N       | Y     | Y    | 06/10/2014 to 11/25/2014 | Tue: 10:00 AM-7:00 PM;                       | nan         | nan         | nan         | nan         | nan         | nan
12th & Brandywine Urban Farm Market              | 12th & Brandywine Streets                                | Wilmington | New Castle           | Delaware             | 19801 | -75.5345 | 39.7421 | nan                                                   | https://www.facebook.com/pages/12th-Brandywine-Urban-Far ... | nan                                 | nan     | https://www.facebook.com/delawareurbanfarmcoalition          | N       | N    | N          | N      | N      | N       | N    | N       | Y     | Y          | N     | N    | N     | N    | N       | N    | N      | N       | N        | N    | N     | N    | N      | N     | Y      | N      | N      | N         | N       | N             | On a farm from: a barn, a greenhouse, a tent, a stand, etc | N      | N    | N       | N     | Y    | 05/16/2014 to 10/17/2014 | Fri: 8:00 AM-11:00 AM;                       | nan         | nan         | nan         | nan         | nan         | nan
14&U Farmers' Market                             | 1400 U Street NW                                         | Washington | District of Columbia | District of Columbia | 20009 | -77.0321 | 38.917  | nan                                                   | https://www.facebook.com/14UFarmersMarket                    | https://twitter.com/14UFarmersMkt   | nan     | nan                                                          | Y       | N    | Y          | Y      | N      | Y       | Y    | N       | Y     | Y          | Y     | Y    | N     | Y    | N       | Y    | Y      | Y       | N        | N    | N     | N    | N      | Y     | Y      | Y      | Y      | N         | N       | N             | Other                                                      | Y      | Y    | Y       | Y     | Y    | 05/03/2014 to 11/22/2014 | Sat: 9:00 AM-1:00 PM;                        | nan         | nan         | nan         | nan         | nan         | nan
... (8536 rows omitted)

Załóżmy teraz, że chcemy odpowiedzieć na kilka pytań dotyczących rynków rolników w USA. Na przykład, który rynek (rynki) ma największą długość geograficzną -  podaną w kolumnie `x`)?

Aby odpowiedzieć na to pytanie, posortujemy `farmers_markets_locations` według długości geograficznej.

In [30]:
farmers_markets_locations.sort('x')

MarketName                                     | city          | State  | x        | y
Trapper Creek Farmers Market                   | Trapper Creek | Alaska | -166.54  | 53.8748
Kekaha Neighborhood Center (Sunshine Markets)  | Kekaha        | Hawaii | -159.718 | 21.9704
Hanapepe Park (Sunshine Markets)               | Hanapepe      | Hawaii | -159.588 | 21.9101
Kalaheo Neighborhood Center (Sunshine Markets) | Kalaheo       | Hawaii | -159.527 | 21.9251
Hawaiian Farmers of Hanalei                    | Hanalei       | Hawaii | -159.514 | 22.2033
Hanalei Saturday Farmers Market                | Hanalei       | Hawaii | -159.492 | 22.2042
Kauai Culinary Market                          | Koloa         | Hawaii | -159.469 | 21.9067
Koloa Ball Park (Knudsen) (Sunshine Markets)   | Koloa         | Hawaii | -159.465 | 21.9081
West Kauai Agricultural Association            | Poipu         | Hawaii | -159.435 | 21.8815
Kilauea Neighborhood Center (Sunshine Markets) | Kilauea       | Hawaii | -159.406 | 22.2112
... (8536 rows omitted)

Ups, to nie dało odpowiedzi na nasze pytanie, ponieważ posortowaliśmy od najmniejszej do największej długości geograficznej. Aby spojrzeć na największe długości geograficzne, trzeba posortować w odwrotnej kolejności.

In [31]:
farmers_markets_locations.sort('x', descending=True)

MarketName                                  | city               | State          | x        | y
Christian "Shan" Hendricks Vegetable Market | Saint Croix        | Virgin Islands | -64.7043 | 17.7449
La Reine Farmers Market                     | Saint Croix        | Virgin Islands | -64.7789 | 17.7322
Anne Heyliger Vegetable Market              | Saint Croix        | Virgin Islands | -64.8799 | 17.7099
Rothschild Francis Vegetable Market         | St. Thomas         | Virgin Islands | -64.9326 | 18.3428
Feria Agrícola de Luquillo                  | Luquillo           | Puerto Rico    | -65.7207 | 18.3782
El Mercado Familiar                         | San Lorenzo        | Puerto Rico    | -65.9674 | 18.1871
El Mercado Familiar                         | Gurabo             | Puerto Rico    | -65.9786 | 18.2526
El Mercado Familiar                         | Patillas           | Puerto Rico    | -66.0135 | 18.0069
El Mercado Familiar                         | Caguas zona urbana | Puerto Rico    | -66.039  | 18.2324
El Maercado Familiar                        | Arroyo zona urbana | Puerto Rico    | -66.0617 | 17.9686
... (8536 rows omitted)

Bit `descending=True` jest nazywany *argumentem opcjonalnym*. Ma domyślną wartość `False`, więc jeśli jawnie powiesz funkcji `descending=True`, funkcja będzie sortować w kolejności malejącej.)

### `sort`

Kilka szczegółów o funkcji sort:

1. Pierwszym argumentem `sort` jest nazwa kolumny według której jest sortowanie.
2. Jeśli w kolumnie jest tekst, `sort` będzie sortować alfabetycznie; jeśli w kolumnie są liczby, będzie sortować numerycznie.
3. Wartość `farmers_markets_locations.sort("x")` jest *kopią* `farmers_markets_locations`; tabela `farmers_markets_locations` nie jest modyfikowana. Na przykład, jeśli wywołaliśmy `farmers_markets_locations.sort("x")`, następnie wywołanie `farmers_markets_locations` zwróci nieposortowaną tabelę.
4. Wiersze zawsze sklejają się podczas sortowania tabeli. Nie miałoby sensu sortowanie tylko jednej kolumny i pozostawienie pozostałych kolumn w spokoju. Na przykład w tym przypadku, gdybyśmy posortowali tylko kolumnę `x`, wszystkie rynki rolników miałyby niewłaściwą długość geograficzną.


**Pytanie 3.5.** Utórz wersję tabeli `farmers_markets_locations` posortowaną po **szerokości geograficznej (`y`)**, zaczynając od największych szerokości geograficznych.  Nazwij ją `farmers_markets_locations_by_latitude`.

<!--
BEGIN QUESTION
name: q35
-->

In [36]:
farmers_markets_locations_by_latitude = farmers_markets
farmers_markets_locations_by_latitude = farmers_markets_locations_by_latitude.select("MarketName","x", "y").sort('y', descending=True)
farmers_markets_locations_by_latitude

MarketName                     | x        | y
Tanana Valley Farmers Market   | -147.781 | 64.8628
Ester Community Market         | -148.01  | 64.8459
Fairbanks Downtown Market      | -147.72  | 64.8444
Nenana Open Air Market         | -149.096 | 64.5566
Highway's End Farmers' Market  | -145.733 | 64.0385
MountainTraders                | -150.118 | 62.3231
Talkeetna Farmers Market       | -150.118 | 62.3228
Denali Farmers Market          | -150.234 | 62.3163
Kenny Lake Harvest II          | -145.476 | 62.1079
Copper Valley Community Market | -145.444 | 62.0879
... (8536 rows omitted)

A teraz powiedzmy, że chcemy mieć tabelę wszystkich targowisk w Kalifornii. Sortowanie niewiele nam tutaj pomoże, ponieważ Kalifornia znajduje się bliżej środka zbioru danych.

Zamiast tego, użyjemy metody tabeli `where`.

In [37]:
california_farmers_markets = farmers_markets_locations.where('State', are.equal_to('California'))
california_farmers_markets

MarketName                               | city         | State      | x        | y
Adelanto Stadium Farmers Market          | Victorville  | California | -117.405 | 34.5593
Alameda Farmers' Market                  | Alameda      | California | -122.277 | 37.7742
Alisal Certified Farmers' Market         | Salinas      | California | -121.634 | 36.6733
Altadena Farmers' Market                 | Altadena     | California | -118.158 | 34.2004
Alum Rock Village Farmers' Market        | San Jose     | California | -121.833 | 37.3678
Amador Farmers' Market-- Jackson         | Jackson      | California | -120.774 | 38.3488
Amador Farmers' Market-- Pine Grove      | Pine Grove   | California | -120.774 | 38.3488
Amador Farmers' Market-- Sutter Creek    | Sutter Creek | California | -120.774 | 38.3488
Anderson Happy Valley Farmers Market     | Anderson     | California | -122.408 | 40.4487
Angels Camp Farmers Market-Fresh Fridays | Angels Camp  | California | -120.543 | 38.0722
... (745 rows omitted)

Na razie zignoruj składnię. Zamiast tego spróbuj przeczytać ten wiersz w ten sposób:

> Przypisz nazwę **`california_farmers_markets`** do tabeli, której wiersze są wierszami w tabeli **`farmers_markets_locations`**, gdzie (**`where`**) Stany (**`'State'`**) są równe California (**`are` `equal` `to` `California`**).

### `where`

Kilka szczegółów. `where` podbiera 2 argumenty:

1. Nazwę kolumny.  `where` znajduje wiersze, w których wartości tej kolumny spełniają określone kryteria.
2. Predykat opisujący kryterium, które kolumna musi spełnić.

Predykat w powyższym przykładzie nazywa się funkcją `are.equal_to` z wartością, którą chcieliśmy, 'California'. Wkrótce zobaczymy inne predykaty.

`where` zwraca tabelę, która jest kopią orginalnej tabeli, ale **tylko z wierszami, które spełniają dany predykat**.

**Pytanie 3.6.** Użyj `california_farmers_markets` do utworzenia tabeli nazwanej `berkeley_markets` zawierające targi rolne w Berkeley,California.
<!--
BEGIN QUESTION
name: q36
-->

In [40]:
berkeley_markets = california_farmers_markets.where('city', are.equal_to('Berkeley'))
berkeley_markets

MarketName                        | city     | State      | x        | y
Downtown Berkeley Farmers' Market | Berkeley | California | -122.273 | 37.8697
North Berkeley Farmers' Market    | Berkeley | California | -122.269 | 37.8802
South Berkeley Farmers' Market    | Berkeley | California | -122.272 | 37.8478

Do tej pory używaliśmy tylko `where` z predykatem, który wymaga znalezienia wartości w kolumnie, aby *dokładnie* były równe określonej wartości. Istnieje jednak wiele innych predykatów. Tu jest kilka:


|Predykat|Przykład|Wynik|
|-|-|-|
|`are.equal_to`|`are.equal_to(50)`|Znajduje wiersze z wartościami równymi 50|
|`are.not_equal_to`|`are.not_equal_to(50)`|Znajduje wiersze z wartościami rożnymi od 50|
|`are.above`|`are.above(50)`|Znajduje wiersze z wartościami powyżej (i nie równymi) 50|
|`are.above_or_equal_to`|`are.above_or_equal_to(50)`|Znajduje wiersze z wartościami powyżej lub równymi 50|
|`are.below`|`are.below(50)`|Znajduje wiersze z wartościami poniżej 50|
|`are.between`|`are.between(2, 10)`|Znajduje wiersze z wartościami powyżej (lub równymi) 2 i poniżej 10|

## 4. Analizowanie zbioru danych

Uruchom komórkę poniżej, aby załadować tabelę `imdb`. Zawiera informacje o 250 najwyżej ocenianych filmach na IMDb.

In [41]:
# Tylko uruchom komórkę

imdb = Table.read_table('/content/drive/MyDrive/PiAD_lab_02/imdb.csv')
imdb

Votes  | Rating | Title                 | Year | Decade
88355  | 8.4    | M                     | 1931 | 1930
132823 | 8.3    | Singin' in the Rain   | 1952 | 1950
74178  | 8.3    | All About Eve         | 1950 | 1950
635139 | 8.6    | Léon                  | 1994 | 1990
145514 | 8.2    | The Elephant Man      | 1980 | 1980
425461 | 8.3    | Full Metal Jacket     | 1987 | 1980
441174 | 8.1    | Gone Girl             | 2014 | 2010
850601 | 8.3    | Batman Begins         | 2005 | 2000
37664  | 8.2    | Judgment at Nuremberg | 1961 | 1960
46987  | 8      | Relatos salvajes      | 2014 | 2010
... (240 rows omitted)

Często chcemy wykonać wiele operacji - sortowanie, filtrowanie lub inne - po to, aby zamienić tabelę, którą mamy w coś bardziej użytecznego. Możesz wykonywać te operacje pojedynczo, np.

```
first_step = original_tbl.where(“col1”, are.equal_to(12))
second_step = first_step.sort(‘col2’, descending=True)
```

Ponieważ jednak wartość wyrażenia `original_tbl.where(“col1”, are.equal_to(12))` jest sama w sobie tabelą, możesz po prostu wywołać na niej metodę tabeli:

```
original_tbl.where(“col1”, are.equal_to(12)).sort(‘col2’, descending=True)
```
Pracę trzeba zorganizować w sposób, który jest dla Ciebie najbardziej sensowny, używając nazw informacyjnych dla wszelkich tworzonych tabel pośrednich.

**Pytanie 4.1.** Utwórz tabelę filmów wydanych w latach 2010–2016 (włącznie) z ocenami powyżej 8. Tabela powinna zawierać tylko kolumny `Title` i `Rating` **w tej kolejności**.

Przypisz tabelę do nazwy `above_eight`.

*Wskazówka:* Pomyśl o krokach, które musisz podjąć i spróbuj ułożyć je w sensownej kolejności. Możesz tworzyć tabele pośrednie dla każdego kroku, ale pamiętaj, aby przypisać swojej ostatniemu tabeli nazwę `above_eight`!

<!--
BEGIN QUESTION
name: q41
-->

In [42]:
after2010 = imdb.where("Year",are.above_or_equal_to(2010))
between2010_2016 = after2010.where("Year",are.below_or_equal_to(2016))
above_eight = between2010_2016.where("Rating",are.above(8)).select("Title","Rating").sort('Rating', descending=True)
above_eight

Title                   | Rating
Inception               | 8.7
Interstellar            | 8.6
Whiplash                | 8.5
Inside Out (2015/I)     | 8.5
Intouchables            | 8.5
The Dark Knight Rises   | 8.4
Django Unchained        | 8.4
Mad Max: Fury Road      | 8.3
Jodaeiye Nader az Simin | 8.3
Toy Story 3             | 8.3
... (10 rows omitted)

**Pytanie 4.2.** Użyj `num_rows` (i arytmetki) aby znaleźć *proporcję* filmów w zbiorze danych opublikowanych w latach 1900-1999 oraz *proporcję* filmów w zbiorze danych opublikowanych w roku 2000 lub później.

Przypisz `proportion_in_20th_century` do odsetka filmów w zbiorze danych, które zostały wydane w latach 1900-1999, a `proportion_in_21st_century` do proporcji filmów w zbiorze danych, które zostały wydane w roku 2000 lub później.

*Wskazówka:* *Proporcja* filmów wydanych w 1900 to *liczba* filmów wydanych w 1900, podzielona przez *całkowitą liczbę* filmów.

<!--
BEGIN QUESTION
name: q42
-->

In [47]:
num_movies_in_dataset = imdb.num_rows
num_in_20th_century = imdb.where("Year",are.below_or_equal_to(1999)).num_rows
num_in_21st_century = imdb.where("Year",are.above_or_equal_to(2000)).num_rows
proportion_in_20th_century = num_in_20th_century/num_movies_in_dataset
proportion_in_21st_century = num_in_21st_century/num_movies_in_dataset
print("Proportion in 20th century:", proportion_in_20th_century)
print("Proportion in 21st century:", proportion_in_21st_century)

Proportion in 20th century: 0.684
Proportion in 21st century: 0.316

## 5. Podsumowanie

W celach informacyjnych, oto tabela wszystkich funkcji i metod, które wystąpiły w tym laboratorium. Więcej metod do dodania do tej tabeli będzie na następnych zajęciach!

|Nazwa|Przykład|Cel|
|-|-|-|
|`sort`|`tbl.sort("N")`|Tworzy kopię tabeli posortowaną według wartości w kolumnie|
|`where`|`tbl.where("N", are.above(2))`|Tworzy kopię tabeli tylko z wierszami, które pasują do *predykatu*|
|`num_rows`|`tbl.num_rows`|Oblicza liczbę wierszy w tabeli|
|`num_columns`|`tbl.num_columns`|Oblicza liczbę kolumn w tabeli|
|`select`|`tbl.select("N")`|Tworzy kopię tabeli z tylko niektórymi kolumnami|
|`drop`|`tbl.drop("2*N")`|Tworzy kopię tabeli bez niektórych kolumn|

<br/>

Właśnie zakończyliśmy ćwiczenia z laboratorium 2. Pamiętaj, żeby...
- wybrać **Save and Checkpoint** z menu `File`,
- przesłać swoją pracę w sposób przekazany przez prowadzącego.